body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    nav{
        font-size: 2em;
        text-align: center;
        cursor: pointer;
        padding: 10px 0;
    
    .Home{
        background-color: yellow;
    }
    .services{
        background-color: greenyellow;
    }
    .about-us{
        background-color: powderblue;
    }
    .contact{
        background-color: purple;
    }
    main{
        h1{
            font-size: 1.5em;
            }
        } 
    }
}